<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1> Home </h1>
    <h2> Now we do need to do serve resources using the current token:  <%= data.status %> </h2>
</div>
<div>
    <h1> Back Home </h1>
    <p>
        in questa pagina dovremo caricarire tutti i dati riguardanti
        le domande già in atto ... quindi prima proviamo a far apparire il profilo
        poi vediamo la "bacheca"
    </p>
    <form action="/" method="GET">
        <button type="submit">Submit</button>
    </form>
    <hr>
</div>
</body>
</html>