<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Progetto di Applicazioni WEB">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Malhi & Orihuela">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration</title>

    <!-- Links per l'utilizzo delle librerie di semantic ui, w3schools e bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <link type="text/css" rel='stylesheet' href='/css/user_registration.css' />
    <script src="/script/user_registration.js"></script>

</head>

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-blak relative black">
    <div class="w3-display-middle">
        <h2 class="w3-jumbo w3-animate-top">Register a new user</h2>
        <hr class="w3-border-grey" id="bordergrey">

        <form action="/user_register" method="POST" class="ui large form"> <!-- Registrazione degli users-->
            <div class=" w3-hover-opacity-off w3-padding-large w3-round-large">
                <div class="field">
                    <div class="ui left icon input">
                        <i class ="pencil icon"></i>
                        <input type="text" placeholder="Name" name="name">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="E-mail address user" name="email">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                </div>
            </div>
            <button class="ui  inverted grey basic button" id="registration">Register</button>
            <div class="ui error message"></div> <!-- Messaggi di errore in caso di inserimenti di dati sbagliati-->
        </form>
        <hr>
        <form action="/" method="GET">  <!--Ritorno nella login page-->
            <button class="ui icon button basic ">Back to login page <i class="sign out alternate icon"></i></button>
        </form>
    </div>
</div>
</body>
</html>